/*
Colors used:
Primary dark: #4273B9
Primary light: #008AFC
White: #ffffff
Dark gray: #363636
*/

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #363636;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  text-transform: uppercase;
  color: #363636;
  padding-top: 0px;
  text-align: center;
}

header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0px 4px 10px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         0px 4px 10px 0px rgba(50, 50, 50, 0.2);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  color: #363636;
  background-color: #ffffff;
  text-align: justify;
}

ul {
  list-style: none;
  }

a {
  color: #363636;
  text-decoration: none;
}

a:visited {
  color: #9c9c9c;
}

a:hover,
a:focus {
  color: #008AFC;
  text-decoration: none;
}

a:active {
  color: #4273B9;
}

.strip-black {
  background-color: #363636;
  color: #ffffff;
  padding: 30px 15px;
  margin: 35px 0;
}

.strip-black-text {
  color: #ffffff;
  padding-bottom: 10px;
}

.strip-black .social-column {
  padding: 10px 0;
}

.vignette {
  padding: 20px 0;
}

.vignette h3 {
  margin: 0;
}

.vignette p {
  text-align: center;
}



/* Highly specific styles. */


nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
}

nav > ul > li > a:visited {
  color: #9c9c9c;
}

nav > ul > li > a:active {
  color: #4273B9;
}

.button {
  display: inline-block;
  background-color: #363636;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.4;
  padding: 8px;
  border-radius: 3px;
  transition: 0.3s opacity;
}

.button:visited {
  background-color: #9c9c9c;
  color: #ffffff;
}

.button:hover {
  background-color: #4273B9;
  color: #ffffff;
  text-decoration: none;
}



/* Layout styling */

.container {
  padding: 0px 15px;
}

.row {
  margin: 40px 0;
}

.logo {
  max-width: 150px;
}


.social-link {
  display: block;
}


.social-icons {
  display: block;
  text-align: center;
}

.social-icons > ul {
  margin: 0;
  padding: 0;
}

.social-icons > ul > li {
  padding: 0 5px;
}

.social-li {
  display: inline-block;
}

.social-icons > ul > li > a > svg {
  max-width: 35px;
  max-height: 35px;
  height: 100%;
  width: 100%;
}

.skills {
  width: 100%
}

.skills > ul {
  padding: 0;
}

.skills > ul > li {
  display: block;
  text-align: center;
}


#HERO {
  background-image: url('../img/home_about/Banner_Large.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  display: inline-block;
  background-color: #3d3d3d;
  color: #ffffff;
  padding: 30px 0;
  width: 100%;
}

#PORTFOLIO .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #3d3d3d;
}

#HERO p {
  text-align: center;
  margin: 15px 10px;
}

#HERO h1 {
  margin: 0;
  padding: 0.67em 0;
}

#banner-gatlinburg {
  background-image: url('../img/gatlinburg/small/S_Banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  display: inline-block;
  background-color: #3d3d3d;
  color: #ffffff;
  padding: 30px 0;
  width: 100%;
}

#banner-gatlinburg h1 {
  margin: 0;
  padding: 0.67em 0;
}

#tower-activities {
  padding-bottom: 15px;
  border-bottom: 1px solid #3d3d3d;
}

#hero-about h1 {
  color: #181818;
  margin: 0;
  padding: 1.5em 0 1em 0;
}

#COPYRIGHT {
  text-align: center;
}
